<div class="videoWrapper">
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/3kbdGHavGKg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; picture-in-picture" allowfullscreen></iframe>
</div>
