@import "theme/base/mixins";
@import "theme/base/reset";
@import "theme/base/typo";


.page-content {
  display: flex;
  justify-content: center;
  padding: 1em;

}
.wrap {
  max-width: 700px;
}

.post {
  margin: 2em 0;
}

img {
  max-width: 100%;
}
