@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url("./fonts/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("./fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

$font-title: IBMPlexSans-Bold;
$color-title: rgba(#010101, 1);
$font-body: IBMPlexSans-Regular;
$color-body: rgba(#010101, .9);
$link-color: $yellow;
$link-color-visited: #E9D3FC;
$link-color-active: #B9D9FF;

html, body {
  font-size: 11px;
  font-family: $font-body;
  color: $color-body;
}

h1, h2, p, a, li {
  font-style: normal;
  letter-spacing: 0em;
}

h1 {
  font-family: $font-title;
  font-size: 2.5em;
  line-height: 3rem;
  color: $color-title;

}

h2 {
  margin-top: 3.6rem;
  font-family: $font-title;
  font-size: 2em;
  line-height: 1rem;
  color: $color-title;
}

p {
  margin-bottom: 2rem;
  font-family: $font-body;
  font-size: 1.6em;
  line-height: 2.8rem;
}


ul, ol {
  font-family: $font-body;
  font-size: 1.6em;
  line-height: 3rem;
  margin-bottom: 3rem;
  margin-top: -2rem;
}

li {
  margin-left: 2rem;
  list-style-type:disc;
}

a {
  text-decoration: none;
  color: $color-body;
  display: inline;
  transition: .2s cubic-bezier(.02,.89,.53,.99);

  &:link {
    box-shadow:
       inset 0 0 $link-color,
       inset 0 -0.4em $link-color;
  }
  &:visited {
    box-shadow:
      inset 0 0 $link-color-visited,
      inset 0 -0.4em $link-color-visited;
  }
  &:hover {
    box-shadow:
       inset 0 -0.5em $link-color,
       inset 0 -1.2em $link-color;
  }
  &:active {
    box-shadow:
       inset 0 -0.5em $link-color-active,
       inset 0 -1.2em $link-color-active;
  }

}
