@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url("./fonts/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("./fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

$font-title: IBMPlexSans-Bold;
$font-body: IBMPlexSans-Regular;
$link-color: $yellow;

html, body {
  font-size: 11px;
  font-weight: $font-body;
}

h1 {
  font-family: $font-title;
  font-size: 2.5em;
  line-height: 3rem;
  font-style: normal;
  letter-spacing: 0em;
}

h2 {
  margin-top: 3.5rem;
  font-family: $font-title;
  font-size: 2em;
  line-height: 0rem;
  font-style: normal;
  letter-spacing: 0em;
}

p {
  margin-bottom: 2rem;
  font-family: $font-body;
  font-size: 1.6em;
  line-height: 2.8rem;
  font-style: normal;
  letter-spacing: 0em;
}


ul, ol {
  font-family: $font-body;
  font-size: 1.6em;
  line-height: 3rem;
  margin-bottom: 3rem;
  margin-top: -2rem;
}

li {
  margin-left: 2rem;
  list-style-type:disc;
}

a {
  text-decoration: none;
  box-shadow:
     inset 0 0 $link-color,
     inset 0 -0.4em $link-color;
  display: inline;
  transition: .2s cubic-bezier(.02,.89,.53,.99);

  &:hover {

    box-shadow:
       inset 0 -0.5em $link-color,
       inset 0 -1.2em $link-color;
  }

}
a:hover {}
a:visited{}
