.post {
  margin: 4em 0;
  .post-date {
    font-size: 1.2em;
    text-transform: uppercase;
  }
  .post-title {
    margin: 1rem 0 3rem;
  }
  hr {
    margin: 8em 0;
    border: 0;
    border-bottom: 1px dashed rgba(#010101, .2);
  }
}

img {
  max-width: 100%;
}
